[Unit]
Description=VinylPi RFID Reader Service
After=multi-user.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python /home/pi/Projects/vinylpi/reader --mode r --api_url http://localhost:5000/play --data_file /home/pi/Projects/vinylpi/uris.json

[Install]
WantedBy=multi-user.target
